/* Start of product styling*/

.product__wrapper {
    margin-top: 40px;
    position: relative;
    @media @tablet {
        margin-top: 80px;
    }
    @media @desktop {
        margin-top: 130px;
    }
    .product__info__wrapper {
        background-color: rgba(255, 27, 79, .05);
        width: 414px;
        height: 495px;
        padding: 30px 25px 0;
        position: absolute;
        top: 50%;
        left: 75%;
        .transform(translateY(-50%)translateX(-50%));
        h5 {

            font-weight: 400;
            font-style: normal;
            font-size: 12.0px;
            color: rgba(255, 27, 79, 1.0);
            text-align: center;
            letter-spacing: 1.1px;
            line-height: 16.0px;
            text-transform: uppercase;
        }
        h1 {

            font-weight: 700;
            font-style: normal;
            font-size: 36.0px;
            color: rgba(255, 27, 79, 1.0);
            text-align: center;
            line-height: 48.0px;
        }
        .product__copy {

            font-weight: 400;
            font-style: normal;
            font-size: 14.0px;
            color: rgba(105, 105, 105, 1.0);
            text-align: center;
            line-height: 26.0px;
        }
        .product__price {

            font-weight: 700;
            font-style: normal;
            font-size: 30.0px;
            color: rgba(255, 27, 79, 1.0);
            text-align: center;
            line-height: 39.0px;
            span {

                font-weight: 400;
                font-style: normal;
                font-size: 12.0px;
                color: rgba(255, 27, 79, 1.0);
                text-align: center;
                letter-spacing: 1.1px;
                line-height: 16.0px;
                text-transform: uppercase;
            }
        }
        button {

            font-weight: 400;
            font-style: normal;
            font-size: 12.0px;
            color: rgba(247, 247, 247, 1.0);
            text-align: center;
            letter-spacing: 1.1px;
            line-height: 16.0px;
            text-transform: uppercase;
            background: linear-gradient(to top right, #FF6238, #FF0057);
            text-align: center;
            padding: 20px 80px;
            box-shadow: none;
            border: none;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 75%;
        }
    }
}

/* END PRODUCT STYLING */